.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/
.netrc

Example/LogBirdExample.xcworkspace
Example/LogBirdExample.xcodeproj/xcuserdata/
Example/output